@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background: #000000;
    color: #ffffff;
}

header{
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    position: fixed;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 98.8%;
    height: 10%;
}
#container1{
    margin-top: 0px;
    margin-left: 0px;
    /* border: 1px solid rgb(0, 183, 255); */
    width: 100%;
    height: 100%;
}
    .my_logo{
        /* border: 1px solid rgb(0, 255, 0); */
        margin-left: 15px;
        width: 70px;
        align-items: center;
    }
    .btn-menu{
        margin-top: -46px;
        margin-left: 8%;
        width: 90%;
        /* border: 1px solid rgb(0, 255, 0); */
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
    }
        .btn-menu-1{
            border: 1px solid rgb(0, 0, 0);   /*---สีกรอบ---*/
            background-color: rgb(0, 0, 0);
            padding: 15px;  /*---ระยะห่างของกรอบกับตัวหนังสือด้านใน--*/
            margin: 10px;   /*---ระยะห่างกับวัตถุอื่นๆ--*/
            font-size: 12px;    /*---ขนาดตัวอักษร---*/
            text-align: center; /*---ให้อยู่ตำเเหน่งตรงกลาง--*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            color: #c9c9c9;   /*---สีตัวอักษร---*/
            border-radius: 20px;    /*---ขอบมน---*/       
            text-decoration: none;  /*---เส้นใต้---*/
        }
        .btn-menu-1:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
            box-shadow: 10px -10px 25px 0px rgba(111, 0, 255, 0.526),-10px 10px 25px 0px rgba(0, 191, 255, 0.515);    /*---เงา---*/
        }
        .btn-menu-2{
            border: 1px solid rgb(0, 0, 0);   /*---สีกรอบ---*/
            background-color: rgb(0, 0, 0);
            padding: 15px;  /*---ระยะห่างของกรอบกับตัวหนังสือด้านใน--*/
            margin: 10px;   /*---ระยะห่างกับวัตถุอื่นๆ--*/
            font-size: 12px;    /*---ขนาดตัวอักษร---*/
            text-align: center; /*---ให้อยู่ตำเเหน่งตรงกลาง--*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            color: #c9c9c9;   /*---สีตัวอักษร---*/
            border-radius: 20px;    /*---ขอบมน---*/
            text-decoration: none;  /*---เส้นใต้---*/
        }
        .btn-menu-2:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
            box-shadow: 10px -10px 25px 0px rgba(111, 0, 255, 0.526),-10px 10px 25px 0px rgba(0, 191, 255, 0.515);    /*---เงา---*/
        }
        .btn-menu-3{
            border: 1px solid rgb(0, 0, 0);   /*---สีกรอบ---*/
            background-color: rgb(0, 0, 0);
            padding: 15px;  /*---ระยะห่างของกรอบกับตัวหนังสือด้านใน--*/
            margin: 10px;   /*---ระยะห่างกับวัตถุอื่นๆ--*/
            font-size: 12px;    /*---ขนาดตัวอักษร---*/
            text-align: center; /*---ให้อยู่ตำเเหน่งตรงกลาง--*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            color: #c9c9c9;   /*---สีตัวอักษร---*/
            border-radius: 20px;    /*---ขอบมน---*/
            text-decoration: none;  /*---เส้นใต้---*/
        }
        .btn-menu-3:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
            box-shadow: 10px -10px 25px 0px rgba(111, 0, 255, 0.526),-10px 10px 25px 0px rgba(0, 191, 255, 0.515);    /*---เงา---*/
        }
        .btn-menu-4{
            border: 1px solid rgb(0, 0, 0);   /*---สีกรอบ---*/
            background-color: rgb(0, 0, 0);
            padding: 15px;  /*---ระยะห่างของกรอบกับตัวหนังสือด้านใน--*/
            margin: 10px;   /*---ระยะห่างกับวัตถุอื่นๆ--*/
            font-size: 12px;    /*---ขนาดตัวอักษร---*/
            text-align: center; /*---ให้อยู่ตำเเหน่งตรงกลาง--*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            color: #c9c9c9;   /*---สีตัวอักษร---*/
            border-radius: 20px;    /*---ขอบมน---*/
            text-decoration: none;  /*---เส้นใต้---*/
        }
        .btn-menu-4:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
            box-shadow: 10px -10px 25px 0px rgba(111, 0, 255, 0.526),-10px 10px 25px 0px rgba(0, 191, 255, 0.515);    /*---เงา---*/
        }
        .btn-menu-5{
            border: 1px solid rgb(0, 0, 0);   /*---สีกรอบ---*/
            background-color: rgb(0, 0, 0);
            padding: 15px;  /*---ระยะห่างของกรอบกับตัวหนังสือด้านใน--*/
            margin: 10px;   /*---ระยะห่างกับวัตถุอื่นๆ--*/
            font-size: 12px;    /*---ขนาดตัวอักษร---*/
            text-align: center; /*---ให้อยู่ตำเเหน่งตรงกลาง--*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            color: #c9c9c9;   /*---สีตัวอักษร---*/
            border-radius: 20px;    /*---ขอบมน---*/
            text-decoration: none;  /*---เส้นใต้---*/
        }
        .btn-menu-5:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
            box-shadow: 10px -10px 25px 0px rgba(111, 0, 255, 0.526),-10px 10px 25px 0px rgba(0, 191, 255, 0.515);    /*---เงา---*/
        }
        .btn-menu-6{
            border: 1px solid rgb(255, 0, 0);   /*---สีกรอบ---*/
            background-color: rgb(255, 0, 0);
            padding: 15px;  /*---ระยะห่างของกรอบกับตัวหนังสือด้านใน--*/
            margin: 20px;   /*---ระยะห่างกับวัตถุอื่นๆ--*/
            font-size: 12px;    /*---ขนาดตัวอักษร---*/
            text-align: center; /*---ให้อยู่ตำเเหน่งตรงกลาง--*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            color: #c9c9c9;   /*---สีตัวอักษร---*/
            border-radius: 20px;    /*---ขอบมน---*/
            text-decoration: none;  /*---เส้นใต้---*/
        }
        .btn-menu-6:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
            box-shadow: 10px -10px 25px 0px rgba(255, 0, 0, 0.588),-10px 10px 25px 0px rgba(255, 230, 0, 0.453);    /*---เงา---*/
        }

    .ham-menu{
        display: inline-block;
        cursor: pointer;
        position: absolute;
    }

    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #bfbdbd;
    margin: 6px 0;
    transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    }

    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}

    /* Rotate last bar */
    .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    }
       
.container-2{
    margin-top: 0px;
    margin-left: 0px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    height: 744px;
}
    .video-background{
        /* border: 1px solid rgb(255, 0, 0); */
        margin-top: 0px;
        margin-left: 0px;
        width: 98%;
        height: 700px;
        object-fit: cover;
        align-items: center;
        background-size: cover;
        position: absolute;
        z-index: -10;
        overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
    }
    .container-2-L{
        margin-top: 79px;
        margin-left: 0px;
        /* border: 1px solid rgb(162, 255, 0); */
        display: flex;
        width: 50%;
        height: 89%;
    }
        .my_name{
            /* border: 1px solid rgb(0, 8, 255); */
            width: 310px;
            height: 60px;
            font-family: 'Roboto', sans-serif;
            color: #dcdcdc;   /*---สีตัวอักษร---*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            margin-top: 350px;
            margin-left: 70px;
            font-size: 60px;
        }
        .nick_name{
            /* border: 1px solid rgb(0, 8, 255); */
            width: 310px;
            height: 115px;
            font-family: 'Roboto', sans-serif;
            color: #ff0000;   /*---สีตัวอักษร---*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            margin-top: 301px;
            margin-left: 0px;
            font-size: 110px;
        }
        .my_lastname{
            /* border: 1px solid rgb(0, 8, 255); */
            width: 420px;
            height: 60px;
            font-family: 'Roboto', sans-serif;
            color: #dcdcdc;   /*---สีตัวอักษร---*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            margin-top: 420px;
            margin-left: -620px;
            font-size: 60px;
        }
        .hi{
            /* border: 1px solid rgb(0, 8, 255); */
            width: 600px;
            height: 100px;
            font-family: 'Roboto', sans-serif;
            color: #c2c2c2;   /*---สีตัวอักษร---*/
            overflow: hidden;   /*---ซ่อนข้อความส่วนเกิน---*/
            margin-top: 500px;
            margin-left: 70px;
            font-size: 30px;
            position: absolute;
            z-index: -1;
        }
    .container-2-R{
        margin-top: 79px;
        margin-left: 0px;
        /* border: 1px solid rgb(162, 255, 0); */
        display: flex;
        width: 50%;
        height: 89%;

    }
        .my_img{
            /* border: 1px solid rgb(0, 8, 255); */
            margin-top: 0px;
            margin-left: 30%;
        }
.container-3{
    margin-top: 0px;
    margin-left: 0px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: block;
    height: 744px;
}
    .container-3-1{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 15%;
        color: #ff2f00; 
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        align-items: flex-end;        /*----กึ่งกลางเเนวตั้ง----*/
    }
    .container-3-2{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 42%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
        .container-3-2-L{
            display: flex; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 50%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/
        }
            .kmutnb_img{
                width: 200px;
                height: auto;
                border-radius: 100px;    /*---ขอบมน---*/
            }
        .container-3-2-R{
            display: block;
            margin-top: 0px;
            margin-left: 0px;
            /* border: 1px solid rgb(0, 255, 38); */
            width: 50%;
            height: 100%;
            font-family: 'Roboto', sans-serif;
        }
            .education-bachelor-1{
                margin-top: 50px;
                margin-left: 0px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-bachelor-2{
                margin-top: 15px;
                margin-left: 0px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-bachelor-3{
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-bachelor-4{
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-bachelor-5{
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-bachelor-6{
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
    .container-3-3{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 42%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
        .container-3-3-L{
            display: flex; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 50%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/

        }
            .tl_img{
                width: 250px;
                height: auto;
                border-radius: 100px;    /*---ขอบมน---*/
            }
        .container-3-3-R{
            display: block;
            margin-top: 0px;
            margin-left: 0px;
            /* border: 1px solid rgb(0, 255, 38); */
            width: 50%;
            height: 100%;
            font-family: 'Roboto', sans-serif;
        }
            .education-highvocational-1{
                margin-top: 80px;
                margin-left: 0px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-highvocational-2{
                margin-top: 15px;
                margin-left: 0px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-highvocational-3{
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .education-highvocational-4{
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }

.container-4{
    margin-top: 0px;
    margin-left: 0px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: block;
    height: 840px;
}
    .container-4-1{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 13%;
        color: #ff2f00; 
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        align-items: flex-end;        /*----กึ่งกลางเเนวตั้ง----*/
    }
    .container-4-2{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 87%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
        .container-4-2-L{
            display: block; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 33%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/
        }
            .work-bachelor-1{
                margin-top: 110px;
                margin-left: 50px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-bachelor-2{
                margin-top: 15px;
                margin-left: 50px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-bachelor-3{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-bachelor-4{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-bachelor-5{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
        .container-4-2-C{
            display: block; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 33%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/
        }
            .work-highvocational-1{
                margin-top: 110px;
                margin-left: 50px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-highvocational-2{
                margin-top: 15px;
                margin-left: 50px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-highvocational-3{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
        .container-4-2-R{
            display: block; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 33%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/
        }
            .work-vocational-1{
                margin-top: 110px;
                margin-left: 50px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-vocational-2{
                margin-top: 15px;
                margin-left: 50px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .work-vocational-3{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }

.container-5{
    margin-top: 0px;
    margin-left: 0px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: block;
    height: 840px;
}
    .container-5-1{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 15%;
        color: #ff2f00; 
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        align-items: flex-end;        /*----กึ่งกลางเเนวตั้ง----*/
    }
    .container-5-2{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 50%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
        .container-5-2-L{
            display: block; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 50%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/
        }
            .performance-bachelor-1{
                margin-top: 30px;
                margin-left: 50px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-bachelor-2{
                margin-top: 15px;
                margin-left: 50px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-bachelor-3{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-bachelor-4{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-bachelor-5{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-bachelor-6{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-bachelor-7{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
        .container-5-2-R{
            display: flex; 
            margin-top: 30px;
            margin-left: 0px; 
            border: 1px solid rgba(164, 164, 164, 0.819);
            width: 400px;
            height: 80%;
            border-radius: 20px;    /*---ขอบมน---*/
        }
            .project_img1{
                margin-top: 30px;
                margin-left: 30px;
                width: 90px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(130, 192, 145, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img1:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 250px;
                height: auto;
                margin-top: 0px;
                margin-left: -300px;
            }
            .project_img2{
                margin-top: 50px;
                margin-left: 150px;
                width: 90px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(220, 220, 220, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img2:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 250px;
                height: auto;
                margin-top: 0px;
                margin-left: -300px;
            }
            .project_img3{
                margin-top: 20px;
                margin-left: 270px;
                width: 90px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(182, 182, 182, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img3:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 250px;
                height: auto;
                margin-top: 50px;
                margin-left: -300px;
                /* position: absolute; */
            }
            .project_img4{
                margin-top: 120px;
                margin-left: 280px;
                width: 90px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(182, 182, 182, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img4:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 250px;
                height: auto;
                margin-top: 50px;
                margin-left: -300px;
                /* position: absolute; */
            }
            .project_img5{
                margin-top: 165px;
                margin-left: 15px;
                width: 90px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(114, 187, 117, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img5:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 250px;
                height: auto;
                margin-top: 0px;
                margin-left: -300px;
                /* position: absolute; */
            }
            .project_img6{
                margin-top: 200px;
                margin-left: 120px;
                width: 120px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(107, 178, 173, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img6:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 600px;
                height: auto;
                margin-top: 0px;
                margin-left: -350px;
                /* position: absolute; */
            }
            .project_img7{
                margin-top: 220px;
                margin-left: 260px;
                width: 120px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(158, 158, 158, 0.414),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img7:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 600px;
                height: auto;
                margin-top: 0px;
                margin-left: -350px;
                /* position: absolute; */
            }
    .container-5-3{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 35%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }
        .container-5-3-L{
            display: block; 
            margin-top: 0px;
            margin-left: 0px; 
            /* border: 1px solid rgb(0, 255, 38); */
            width: 50%;
            height: 100%;
            justify-content: center;
            align-items: center;        /*----กึ่งกลางเเนวตั้ง----*/
        }
            .performance-trainee-1{
                margin-top: 20px;
                margin-left: 50px;
                font-size: 25px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-trainee-2{
                margin-top: 15px;
                margin-left: 50px;
                font-size: 20px;
                color: #dcdcdc;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-trainee-3{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-trainee-4{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
            .performance-trainee-5{
                margin-top: 15px;
                margin-left: 60px;
                font-size: 17px;
                color: #c2c2c2;   /*---สีตัวอักษร---*/
                /* border: 1px solid rgb(0, 68, 255); */
            }
        .container-5-3-R{
            display: flex; 
            margin-top: 30px;
            margin-left: 0px; 
            border: 1px solid rgba(164, 164, 164, 0.819);
            width: 400px;
            height: 80%;
            border-radius: 20px;    /*---ขอบมน---*/
        }
            .project_img8{
                margin-top: 20px;
                margin-left: 20px;
                width: 90px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(130, 192, 145, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img8:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 200px;
                height: auto;
                margin-top: -20px;
                margin-left: -300px;
            }
            .project_img9{
                margin-top: 90px;
                margin-left: 135px;
                width: 100px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(130, 192, 145, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img9:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 280px;
                height: auto;
                margin-top: -20px;
                margin-left: -300px;
            }
            .project_img10{
                margin-top: 30px;
                margin-left: 260px;
                width: 120px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(130, 192, 145, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img10:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 440px;
                height: auto;
                margin-top: -20px;
                margin-left: -300px;
            }
            .project_img11{
                margin-top: 130px;
                margin-left: 250px;
                width: 120px;
                height: auto;
                position: absolute;
                border-radius: 10px;    /*---ขอบมน---*/
                box-shadow: 10px -10px 25px 0px rgba(130, 192, 145, 0.526),-10px 10px 25px 0px rgba(72, 70, 69, 0.515);    /*---เงา---*/
            }
            .project_img11:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
                width: 440px;
                height: auto;
                margin-top: -20px;
                margin-left: -300px;
            }

.container-6{
    margin-top: 0px;
    margin-left: 0px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: block;
    height: 744px;
}
    .container-6-1{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 15%;
        color: #ff2f00; 
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        align-items: flex-end;        /*----กึ่งกลางเเนวตั้ง----*/
    }
    .container-6-2{
        display: flex;
        margin-top: 0px;
        /* margin-left: 0px; */
        /* border: 1px solid rgb(0, 183, 255); */
        width: 100%;
        height: 85%;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
    }
        .skill_img2{
            margin-top: 50px;
            width: auto;
            height: 500px;
            /* border: 1px solid rgb(0, 255, 26); */
            border-radius: 40%;    /*---ขอบมน---*/
        }
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1080px){
    .ham-menu{
        display: none;
    }
}
@media only screen and (max-width: 1300px){
    .my_img{
        /* border: 1px solid rgb(0, 8, 255); */
        margin-top: 0px;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 1080px){
    .btn-menu{
        display: none;
    }
    .ham-menu{
        top: 1rem;
        right: 1rem;
    }
    .container-1{
        flex-direction: column;
    }
    .btn-menumenu-active{
        top: -0.5rem;
        right: 0.5rem;
        width: 200px;
        height: 350px;
        background-color: #000000;
        border: 1px solid rgb(116, 115, 115);
        border-radius: 20px;    /*---ขอบมน---*/
        list-style: none;
        position: absolute;
    }
    .btn-menu-1{
        margin-top: 10px;
        margin-left: -20px;
        position: absolute;
    }
    .btn-menu-2{
        margin-top: 65px;
        margin-left: -20px;
        position: absolute;
    }
    .btn-menu-3{
        margin-top: 120px;
        margin-left: -20px;
        position: absolute;
    }
    .btn-menu-4{
        margin-top: 175px;
        margin-left: -20px;
        position: absolute;
    }
    .btn-menu-5{
        margin-top: 230px;
        margin-left: -20px;
        position: absolute;
    }
    .btn-menu-6{
        margin-top: 285px;
        margin-left: -20px;
        position: absolute;
    }
    .menu-active{
        display: block;
    }
    .my_name{
        width: 310px;
        margin-top: 350px;
        margin-left: 35px;
    }
    .my_img{
        /* border: 1px solid rgb(0, 8, 255); */
        margin-top: 0px;
        margin-left: 5%;
    }
    .hi{
        margin-left: 35px;
    }
}
@media only screen and (max-width: 992px){
    .my_lastname{
        width: 350px;
        margin-top: 420px;
        font-size: 50px;
    }
    .my_img{
        display: none;
    }
    .container-2-L{
        width: 100%;
    }
    .container-2-R{
        display: none;
    }
    .hi{
        margin-top: 500px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px){
    .my_name{
        width: 250px;
        font-size: 50px;
        margin-top: 250px;
    }
    .nick_name{
        width: 280px;
        /* border: 1px solid rgb(0, 8, 255); */
        font-size: 100px;
        margin-top: 201px;
        margin-left: 0%;
    }
    .my_lastname{
        font-size: 50px;
        margin-top: 305px;
        margin-left: -533px;
    }
    .hi{
        /* border: 1px solid rgb(0, 8, 255); */
        width: 500px;
        height: 100px;
        margin-top: 380px;
    }
    .container-3-1{
        font-size: 27px;
    }
    .kmutnb_img{
        width: 150px;
        height: auto;
    }
    .education-bachelor-1{
        font-size: 22px;
    }
    .education-bachelor-2{
        font-size: 17px;
    }
    .education-bachelor-3{
        font-size: 14px;
    }
    .education-bachelor-4{
        font-size: 14px;
    }
    .education-bachelor-5{
        font-size: 14px;
    }
    .education-bachelor-6{
        font-size: 14px;
    }
    .tl_img{
        width: 200px;
    }
    .education-highvocational-1{
        font-size: 22px;
    }
    .education-highvocational-2{
        font-size: 17px;
    }
    .education-highvocational-3{
        font-size: 14px;
    }
    .education-highvocational-4{
        font-size: 14px;
    }
    .container-4-1{
        font-size: 27px;
    }
    .work-bachelor-1{
        margin-top: 60px;
        margin-left: 20px;
        font-size: 22px;
    }
    .work-bachelor-2{
        margin-left: 20px;
        font-size: 17px;
    }
    .work-bachelor-3{
        margin-left: 30px;
        font-size: 14px;
    }
    .work-bachelor-4{
        margin-left: 30px;
        font-size: 14px;
    }
    .work-bachelor-5{
        margin-left: 30px;
        font-size: 14px;
    }
    .work-highvocational-1{
        margin-top: 60px;
        margin-left: 20px;
        font-size: 22px;
    }
    .work-highvocational-2{
        margin-left: 20px;
        font-size: 17px;
    }
    .work-highvocational-3{
        margin-left: 30px;
        font-size: 14px;
    }
    .work-vocational-1{
        margin-top: 60px;
        margin-left: 20px;
        font-size: 22px;
    }
    .work-vocational-2{
        margin-left: 20px;
        font-size: 17px;
    }
    .work-vocational-3{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-bachelor-1{
        margin-left: 20px;
        font-size: 22px;
    }
    .performance-bachelor-2{
        margin-left: 20px;
        font-size: 17px;
    }
    .performance-bachelor-3{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-bachelor-4{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-bachelor-5{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-bachelor-6{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-bachelor-7{
        margin-left: 30px;
        font-size: 14px;
    }
    .container-5-2-R{
        width: 300px;
        height: 80%;
    }
    .project_img1{
        margin-left: 20px;
        width: 70px;
    }
    .project_img1:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 200px;
        margin-left: -250px;
    }
    .project_img2{
        margin-left: 110px;
        width: 70px;
    }
    .project_img2:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 200px;
        margin-left: -250px;
    }
    .project_img3{
        margin-left: 200px;
        width: 70px;
    }
    .project_img3:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 200px;
        margin-left: -250px;
    }
    .project_img4{
        margin-left: 200px;
        width: 70px;
    }
    .project_img4:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 200px;
        margin-left: -250px;
    }
    .project_img5{
        margin-left: 10px;
        width: 70px;
    }
    .project_img5:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 200px;
        margin-left: -250px;
    }
    .project_img6{
        margin-top: 175px;
        margin-left: 95px;
        width: 100px;
    }
    .project_img6:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 500px;
        margin-left: -250px;
    }
    .project_img7{
        margin-top: 240px;
        margin-left: 150px;
        width: 100px;
    }
    .project_img7:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 500px;
        margin-left: -250px;
    }
    .performance-trainee-1{
        margin-left: 20px;
        font-size: 22px;
    }
    .performance-trainee-2{
        margin-left: 20px;
        font-size: 17px;
    }
    .performance-trainee-3{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-trainee-4{
        margin-left: 30px;
        font-size: 14px;
    }
    .performance-trainee-5{
        margin-left: 30px;
        font-size: 14px;
    }
    .container-5-3-R{
        width: 300px;
        height: 80%;
    }
    .project_img8{
        width: 70px;
    }
    .project_img8:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        margin-left: -250px;
    }
    .project_img9{
        width: 70px;
        margin-top: 80px;
        margin-left: 105px;
    }
    .project_img9:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 200px;
        margin-left: -250px;
    }
    .project_img10{
        width: 80px;
        margin-top: 40px;
        margin-left: 200px;
    }
    .project_img10:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 380px;
        margin-left: -250px;
    }
    .project_img11{
        width: 120px;
        margin-top: 150px;
        margin-left: 150px;
    }
    .project_img11:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 380px;
        margin-left: -250px;
    }
    .skill_img2{
        margin-top: 50px;
        height: 400px;
    }
}
@media only screen and (max-width: 600px){
    .my_name{
        /* border: 1px solid rgb(0, 8, 255); */
        width: 200px;
        height: 50px;
        font-size: 40px;
    }
    .nick_name{
        width: 220px;
        height: 90px;
        font-size: 80px;
        margin-top: 211px;
    }
    .my_lastname{
        /* border: 1px solid rgb(0, 8, 255); */
        width: 280px;
        height: 50px;
        font-size: 40px;
        margin-left: -422px;
        margin-top: 295px;
    }
    .hi{
        width: 420px;
        /* border: 1px solid rgb(0, 8, 255); */
        margin-top: 360px;
        font-size: 17px;
    }
    .container-3-1{
        font-size: 22px;
    }
    .kmutnb_img{
        width: 130px;
        height: auto;
    }
    .education-bachelor-1{
        font-size: 20px;
    }
    .education-bachelor-2{
        font-size: 15px;
    }
    .education-bachelor-3{
        font-size: 12px;
    }
    .education-bachelor-4{
        font-size: 12px;
    }
    .education-bachelor-5{
        font-size: 12px;
    }
    .education-bachelor-6{
        font-size: 12px;
    }
    .tl_img{
        width: 180px;
    }
    .education-highvocational-1{
        font-size: 20px;
    }
    .education-highvocational-2{
        font-size: 15px;
    }
    .education-highvocational-3{
        font-size: 12px;
    }
    .education-highvocational-4{
        font-size: 12px;
    }
    .container-4-1{
        font-size: 22px;
    }
    .work-bachelor-1{
        margin-left: 10px;
        font-size: 20px;
    }
    .work-bachelor-2{
        margin-left: 10px;
        font-size: 15px;
    }
    .work-bachelor-3{
        margin-left: 20px;
        font-size: 12px;
    }
    .work-bachelor-4{
        margin-left: 20px;
        font-size: 12px;
    }
    .work-bachelor-5{
        margin-left: 20px;
        font-size: 12px;
    }
    .work-highvocational-1{
        margin-left: 10px;
        font-size: 20px;
    }
    .work-highvocational-2{
        margin-left: 10px;
        font-size: 15px;
    }
    .work-highvocational-3{
        margin-left: 20px;
        font-size: 12px;
    }
    .work-vocational-1{
        margin-left: 10px;
        font-size: 20px;
    }
    .work-vocational-2{
        margin-left: 10px;
        font-size: 15px;
    }
    .work-vocational-3{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-bachelor-1{
        margin-left: 10px;
        font-size: 20px;
    }
    .performance-bachelor-2{
        margin-left: 10px;
        font-size: 15px;
    }
    .performance-bachelor-3{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-bachelor-4{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-bachelor-5{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-bachelor-6{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-bachelor-7{
        margin-left: 20px;
        font-size: 12px;
    }
    .container-5-2-R{
        width: 180px;
        height: 90%;
    }
    .project_img1{
        margin-left: 20px;
        width: 50px;
    }
    .project_img1:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        margin-left: -170px;
    }
    .project_img2{
        margin-top: 20px;
        margin-left: 100px;
        width: 50px;
    }
    .project_img2:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        margin-left: -170px;
    }
    .project_img3{
        margin-top: 100px;
        margin-left: 110px;
        width: 50px;
    }
    .project_img3:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        margin-left: -170px;
    }
    .project_img4{
        margin-top: 150px;
        margin-left: 110px;
        width: 50px;
    }
    .project_img4:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        margin-left: -170px;
    }
    .project_img5{
        margin-top: 115px;
        margin-left: 15px;
        width: 70px;
    }
    .project_img5:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        margin-left: -170px;
    }
    .project_img6{
        margin-top: 220px;
        margin-left: 40px;
        width: 90px;
    }
    .project_img6:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 350px;
        margin-left: -180px;
    }
    .project_img7{
        margin-top: 280px;
        margin-left: 40px;
        width: 90px;
    }
    .project_img7:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 350px;
        margin-left: -180px;
    }
    .performance-trainee-1{
        margin-left: 10px;
        font-size: 20px;
    }
    .performance-trainee-2{
        margin-left: 10px;
        font-size: 15px;
    }
    .performance-trainee-3{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-trainee-4{
        margin-left: 20px;
        font-size: 12px;
    }
    .performance-trainee-5{
        margin-left: 20px;
        font-size: 12px;
    }
    .container-5-3-R{
        width: 180px;
        height: 90%;
    }
    .project_img8{
        width: 70px;
        margin-left: 15px;
    }
    .project_img8:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        height: auto;
        margin-left: -175px;
    }
    .project_img9{
        margin-top: 40px;
        margin-left: 98px;
    }
    .project_img9:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 150px;
        height: auto;
        margin-left: -175px;
    }
    .project_img10{
        width: 100px;
        margin-top: 130px;
        margin-left: 50px;
    }
    .project_img10:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 340px;
        height: auto;
        margin-left: -175px;
    }
    .project_img11{
        width: 80px;
        margin-top: 205px;
        margin-left: 40px;
    }
    .project_img11:hover{ /*---ดักจับเหตุการณ์ ผู้ใช้งานวางเมาส์ไว้บน Elements---*/
        width: 340px;
        height: auto;
        margin-left: -175px;
    }
    .skill_img2{
        margin-top: 50px;
        height: 250px;
    }
}
@media only screen and (max-width: 480px){
    .my_name{
        /* border: 1px solid rgb(0, 8, 255); */
        width: 150px;
        height: 40px;
        font-size: 30px;
        margin-left: 5px;
    }
    .nick_name{
        width: 190px;
        height: 80px;
        font-size: 70px;
        margin-top: 211px;
    }
    .my_lastname{
        /* border: 1px solid rgb(0, 8, 255); */
        width: 210px;
        height: 40px;
        font-size: 30px;
        margin-left: -343px;
        margin-top: 290px;
    }
    .hi{
        width: 350px;
        /* border: 1px solid rgb(0, 8, 255); */
        margin-top: 345px;
        margin-left: 5px;
        font-size: 15px;
    }
    .my_logo{
        /* border: 1px solid rgb(0, 255, 0); */
        margin-top: 10px;
        margin-left: 15px;
        width: 45px;
        align-items: center;
    }
}
